    body {
        background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2148999934.jpg?w=1380&t=st=1661489109~exp=1661489709~hmac=f7994b4fe74c1ff587b0c60324c21568dc0359963b8137596d7136031ecddcfe");
        margin: 20px;
    }


    .header {
        padding: 5px;
        font-family: 'Monospace';
        font-size: 20px;
        background-color: #fbbae9;
        color: black;
        justify-content: flex-end;
        text-align: center;
        border-radius: 15px;
        margin: 1%;
    }

    .header h1 {
        text-align: center;
        display: flex;
        font-size: 40px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .profile {
        width: 250px;
        border-radius: 15px;
    }

    .about-me {
        width: 95%;
        padding: 3%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #fbbae9;
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;

    }

    .workbox-container {
        padding: 3%;
        display: flex;
        justify-content: center;
        flex-direction: row;

    }

    .work-box1 {
        padding: 3%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 200px;
        height: 200px;
        background-color: #fbbae9;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 15px;
        margin: 3%;
        background-size: cover;

    }

    .work-box1:hover {
        background-color: #ffe3fd;
        color: black;
        cursor: pointer;
        transform: scale(1.1)
    }

    .work-box {
        width: 200px;
        height: 200px;
        background-color: #fbbae9;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 15px;
        margin: 3%;
        background-size: cover;
    }

    .work-img {
        background-color: lightgrey;
        height: 75px;
        margin: 10px 12px;

    }

    .work-box:hover {
        background-color: #ffe3fd;
        color: black;
        cursor: pointer;
        transform: scale(1.1)
    }

    .resume:hover {
        background-color: #ffe3fd;
        color: black;
        cursor: pointer;
        transform: scale(1.1)
    }

    .contact-me-container:hover {
        background-color: #ffe3fd;
        color: black;
        cursor: pointer;
        transform: scale(1.1)
    }


    .contact-me-container {
        background-color: #fbbae9;
        color: black;
        border-radius: 15px;
        padding: 15px 20px;
        display: block;
        text-align: center;
        margin: 3%;
    }


    .div h4 {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .resume {
        background-color: #fbbae9;
        color: black;
        border-radius: 15px;
        padding: 15px 20px;
        display: block;
        text-align: center;
        margin: 3%;
    }

    .footer {
        padding: 30px;
        clear: both;
        font-family: 'Monospace';
        text-align: center;
        font-size: 20px;
    }

    .footer h5 {
        font-size: 15px;
    }

    @media screen and (max-width: 1200px)  {
        .body {
            flex-direction: column;
        }

        h2 {
            flex: 0 1 auto;
        }

        nav {
            flex-direction: column;
        }

        body {
            flex-direction: column;
        }

        section {
            flex-direction: column;
        }
       
    }